<!DOCTYPE html>
 <html>
 <head>
	<meta charset="UTF-8"/>
	<title>Musically</title>
	<link href="css/home.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Saira:300,400" rel="stylesheet">
 </head>
<body>
	     <section id= pag_inicial>
	     <section id= "titulo">
			<p>Musically</p>
			
			<a href="file:///D:/Dados/Documentos/Laec-%20Trabalho%20final/login/login.html" class ="cad"  target="_self">Login</a>
			
		</section>
		<section id= "home">
			<h1>Musically</h1>
			<h2>"Somos instrumentos musicais que vibram conforme</br> o conteúdo de nossa mente"</h2>
		<section id="botao">
				<input type="button" class ="cad" id="cadastrar" onclick = "window.open('cadastro.html')" value="Cadastrar">
	<a href="#escolha" ><input type="button" class ="cad" id="produtos" value="Produtos" ></a>

		</section>
		
		</section>
		</section>
	
<section id="escolha">
 
  <div class="caixa1"><a href="#violao" >Violão</a></div>
  <div class="caixa2"><a href="#bateria">Bateria</a></div>
  <div class="caixa3"><a href="#piano">Piano</a></div>
  <div class="caixa4"><a href="#flauta">Flauta</a>
  </div>
 
  		
</section>

	<!-- inicio bateria -->
	
			<a name="bateria"><section id="bateria_imagem"></a>
				<p></p>
				<p id="titulo_bateria"><b>Nós temos as melhores </br>baterias</b></p>
				<p id="frase_bateria"><b>A perfeição não consiste na quantidade,</br> mas sim na qualidade do produto.</b></p>
				
				<a href="#produtos_bateria"><button class ="cad" id="botao_bateria"><p>Ver mais</p></button></a>

		<section id="vendas">
			<h3 id="produtos_bateria">Produtos</h3>
			<a href="#Carrinho"><img src="img/carrinho.png"  class="cad"  id="carrinho_botao" width="50" height="50"></a>
		<section id="imagens">
			
			<figure id="bateria1"class ="cad">
				<ul id="myList1"><li><img src="img/bateria1.png" width="200" height="200" >
					<figcaption id="texto"> Marca: MRV Rock Performer <br> Preço: R$ 1.379,00 </figcaption></li></ul>			
						<button id ="add_bateria" class ="cad" onclick="main('1')" ><p>adicionar</p></button>
			</figure>




			<figure id="bateria2"class ="cad">
				<ul id="myList3"><li><img src="img/bateria2.png" width="200" height="200" >
					<figcaption> Marca:MRV Crossroad <br> Preço: R$ 2.098,00 </figcaption></li></ul>
          				<button id ="add_bateria" class ="cad" onclick="main('3')"><p>adicionar</p></button>
          </figure>
		<figure id="bateria3"class ="cad">
				<ul id="myList5"><li><img src="img/bateria3.png" width="200" height="200" >
          		<figcaption> Marca: Yamaha <br> Preço: R$1.500,00  </figcaption></li></ul>
       				<button id ="add_bateria" class ="cad" onclick="main('5')"><p>adicionar</p></button>

       	</figure>		
  </section>
		
		<a href="#escolha"><button id="ver" class="cad">   <div id="vermais"> Voltar</div></button> </a> 

			
	
	</section>
	</section>
	</section>

		<!-- fim bateria -->
		
		<!-- inicio piano -->	

			<a name="piano"><section id="piano_imagem"></a>
				<p></p>
				<p id="titulo_piano"><b>Nós temos os melhores </br>pianos</b></p>
				<p id="frase_bateria"><b>A perfeição não consiste na quantidade,</br> mas sim na qualidade do produto.</b></p>
				<a href="#produtos_piano"><button class ="cad" id="botao_piano"><p>Ver mais</p></button></a>
			<section id="vendas">
			<h3 id= "produtos_piano">Produtos</a></h3>
		<a href="#Carrinho"><img src="img/carrinho.png"  class="cad"  id="carrinho_botao" width="50" height="50"></a>
		<section id="imagens">
			<figure id="piano1"class ="cad">
				<ul id="myList6"><li><img src="img/piano1.png" width="200" height="200" >
					<figcaption id="texto">  Marca: Digital de Cauda Tokai  <br> Preço: R$12.999,00 </figcaption></li></ul>			
						<button id ="add_piano" class ="cad" onclick="main_2('1')" ><p>adicionar</p></button>
			</figure>

	

			<figure id="piano2"class ="cad">
				<ul id="myList7"><li><img src="img/piano2.png" width="200" height="200" >
					<figcaption> Marca: Digital Yamaha Arius <br> Preço: R$5.639,00 </figcaption></li></ul>
          				<button id ="add_piano" class ="cad" onclick="main_2('3')"><p>adicionar</p></button>
          </figure>
		<figure id="piano3"class ="cad">
				<ul id="myList8"><li><img src="img/piano3.png" width="200" height="200" >
          		<figcaption> Marca: Yamaha Clavinova  <br> Preço: R$34.900,00  </figcaption></li></ul>
       				<button id ="add_piano" class ="cad" onclick="main_2('5')"><p>adicionar</p></button>

       	</figure>		
  </section>
		
		<a href="#escolha"><button id="ver" class="cad"  ><div id="vermais"> CVoltar/div></button> </a>
				
	</section>
	</section>
	</section> 
		
		<!-- fim piano -->
		
		<!-- inicio flauta -->
		
		<a name="flauta"><section id="flauta_imagem"></a>
				<p></p>
				<p id="titulo_flauta"><b>Nós temos as melhores </br>flautas</b></p>
				<p id="frase_bateria"><b>A perfeição não consiste na quantidade,</br> mas sim na qualidade do produto.</b></p>
				<a href="#produtos_flauta"><button class ="cad" id="botao_flauta"><p>Ver mais</p></button></a>
			<section id="vendas">
			<h3 id ="produtos_flauta">Produtos</a></h3>
		<a href="#Carrinho"><img src="img/carrinho.png"  class="cad"  id="carrinho_botao" width="50" height="50"></a>
		<section id="imagens">
			<figure id="flauta1"class ="cad">
				<ul id="myList9"><li><img src="img/flauta1.png" width="200" height="200" >
					<figcaption id="texto">  Marca:Transversal Vogga <br> Preço: R$963,56</figcaption></li></ul>			
						<button id ="add_flauta" class ="cad" onclick="main_3('1')" ><p>adicionar</p></button>
			




			</figure>
			<figure id="flauta2"class ="cad">
				<ul id="myList10"><li><img src="img/flauta2.png" width="200" height="200" >
					<figcaption>Marca:Transversal Shelter <br> Preço: R$659,00</figcaption></li></ul>
          				<button id ="add_flauta" class ="cad" onclick="main_3('3')"><p>adicionar</p></button>
          </figure>
		<figure id="flauta3"class ="cad">
				<ul id="myList11"><li><img src="img/flauta3.png" width="200" height="200" >
          		<figcaption>Flauta <br> Marca: Yamaha Pifaro <br> Preço: R$109,00 </figcaption></li></ul>
       				<button id ="add_flauta" class ="cad" onclick="main_3('5')"><p>adicionar</p></button>
       	</figure>		
  </section>
		
		<a href="#escolha"><button id="ver" class="cad"  ><div id="vermais"> Voltar</div></button> </a>
				
	</section>
	</section>
	</section>
  	
  	<!-- fim flauta -->
  		
	<!-- inicio violao -->
			<a name="violao"><section id="violao_imagem"></a>
				<p></p>
				<p id="titulo_violao"><b>Nós temos os melhores </br>violões</b></p>
				<p id="frase_bateria"><b>A perfeição não consiste na quantidade,</br> mas sim na qualidade do produto.</b></p>
				<a href="#produtos_violao"><button class ="cad" id="botao_violao"><p>Ver mais</p></button></a>
			<section id="vendas">
			<h3 id= "produtos_violao">Produtos</a></h3>
		<a href="#Carrinho"><img src="img/carrinho.png" class="cad"   id="carrinho_botao" width="50" height="50"></a>
		<section id="imagens" >
			<figure id="violao1" class ="cad">
				<ul id="myList12"><li><img src="img/violao1.png" width="200" height="200" >
					<figcaption id="texto">  Marca:Takamine Folk Acustico Aço <br> Preço:R$ 1.889,99 </figcaption></li></ul>			  
						<button id ="add_violao" class ="cad" onclick="main_4('1')" ><p>adicionar</p></button>
			</figure>
			<figure id="violao2" class ="cad">
				<ul id="myList13"><li><img src="img/violao2.png" width="200" height="200" >
					<figcaption> Marca:Violão Takamine Folk Aço <br> Preço: R$ 1.699,00 </figcaption></li></ul>
          				<button id ="add_violao" class ="cad" onclick="main_4('3')"><p>adicionar</p></button>
          </figure> 
 		<figure id="violao3" class ="cad" >
				<ul id="myList14"><li><img src="img/violao3.png" width="200" height="200" >
          		<figcaption>Marca: Guitarra Michael <br> Preço: R$ 442,00  </figcaption></li></ul>
       				<button id ="add_violao" class ="cad" onclick="main_4('5')"><p>adicionar</p></button>

       	</figure>		
  </section>
		
		<a href="#escolha"><button id="ver" class="cad"  ><div id="vermais"> Voltar</div></button> </a>
				
	</section>
	</section>
	</section> 	

	<!-- fim violao -->

  	<section id="fundo">
  	<h4 id= "Carrinho">Carrinho</a></h4>
  	<ul id="myList2">
	
  	
  	</ul>
  	<!--<input type="button" value="Finalizar" id="finalizar"> -->
  	</section>
  <script type="text/javascript" src="java.js"></script>
  <script type="text/javascript" src="erros.js"></script>	
  </body>
</html>
