<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="css/login.css" rel="stylesheet">

</head>
<body>

<form id="formulario">  
  <h1>Acesse sua conta</h1>
  
  <div class="input-container">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <input id="nome_login" type="text" placeholder="Digite seu nome"/>
  </div>

  <div class="input-container">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input id="senha" type="password" placeholder="Digite sua senha"/>  
  </div> 

  <input id="btnEnviar" type="button" onclick="achar() "  value="Enviar"/> 
</form>  

</body>
  <script type="text/javascript" src="../Cliente.js"></script>
  <script type="text/javascript" src="../Banco.js"></script>
  <script type="text/javascript" src="../ClienteBanco.js"></script>
  <script type="text/javascript">
   bc = new ClienteBanco();
  </script>
  <script type="text/javascript" src="login.js"></script>
</html>